<div>
    <h2>Requests I sent</h2>

    <%if @list_as_guest_m != 0 %>
        <ul>
            <%@list_as_guest_m.each do |request|%>
                <li>Owner's email:
                    <%=request[0]%>
                        <br>Space detail:
                        <%=request[1]["title"]%>
                            <br>Status:
                            <%=request[2]%>
                </li>
                <%end%>
        </ul>
        <%end%>
</div>

<div>
    <h2>Requests I received</h2>

    <%if @list_as_owner_m != 0 %>
        <ul>
            <%@list_as_owner_m.each do |request|%>
                <li>Guest's email:
                    <%=request[0]%>
                        <br>Space detail:
                        <%=request[1]["title"]%>
                            <br>Status:
                            <%=request[2]%>
                </li>
                <%end%>
        </ul>
        <%end%>

</div>